.movie-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
}

@media screen and (min-width: 823px) {
  .movie-list {
    align-items: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 970px) {
  .movie-list {
    gap: 32px;
  }
}