.main {
  margin: 0 auto;
  max-width: 1010px;
  min-width: 320px;
  padding: 15px;
}

.movies {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ant-tabs {
  margin: 0 auto;
  width: 146px;
}

.ant-tabs-nav-list {
  gap: 16px;
}

.ant-tabs-tab{
  font-size: 16px;
  justify-content: center;
  margin: 0;
  width: 65px;
}

.main .ant-pagination{
  display: flex;
  gap: 3px;
  justify-content: center;
}

.main .ant-pagination-item-active {
  background: #1890FF;
  border-radius: 4px;
}

.main .ant-pagination-item-active a {
  color: #FFFFFF;
}

@media screen and (min-width: 823px) {
  .main {
    padding: 35px;
  }

  .movies {
    margin-bottom: 40px;
  }
}